

.file-input {
  display: none;
}

.mainWrapper{
  z-index: 0;
  padding-left: 74px;
}

.mainWrapper > .mat-nav-list{
  background: #2a3f54;
  background: linear-gradient(-90deg, #1e2c3b 0%, #274a60 100%);
  background: -moz-linear-gradient(-90deg, #1e2c3b 0%, #274a60 100%);
  background: -webkit-linear-gradient(-90deg, #1e2c3b 0%, #274a60 100%);
  position: fixed;
  left: 0;
  top: 64px;
  bottom: 0;
  padding-top: 0 !important;
}
.mainWrapper > .mat-nav-list .mat-list-item{
  height: 56px !important;
  border-left: 3px solid transparent; 
}

.mainWrapper > .mat-nav-list .mat-list-item.active-link{
  background-color: rgba(54, 147, 189, 0.3) !important;
  border-left: 3px solid #0c8ec9;
      transition: all .2s ease-in-out;
}

.mainWrapper > .mat-nav-list .mat-list-item:hover{
  background: rgba(0,0,0,.3) !important;

  transition: all .2s ease-in-out;
}

.mainWrapper > .mat-nav-list .mat-list-item.active-link .mat-icon-button.mat-primary{
  color: white;
}

.mat-icon-button.mat-primary{
  color: white;
}

.ngx-datatable.material .empty-row {
  height: auto;

  padding: 50px;

  text-align: center;
}
.ngx-datatable.material .empty-row:before{
  content: "\e053";
  position: relative;
  top: 1px;
  display: block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 85px;
  font-size: 55px;
  color: #e5e5e5;
}

.ngx-datatable .datatable-header .datatable-header-cell .datatable-header-cell-template-wrap {
  height: inherit;
  color: black;
  font-weight: 400;
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: 500;
}

.ngx-datatable.material {
  background: #FFF;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ngx-datatable.material ul{
      padding-left: 20px;
      list-style-type: circle;
  
}

.ngx-datatable.material .mat-icon-button .mat-icon, .ngx-datatable.material .mat-icon-button i {
  line-height: 20px;
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.ngx-datatable.material .mat-icon-button {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-top: -8px;
  color: rgba(0, 0, 0, 0.5) !important;
  transition: all .2s ease-in-out;
  /* float: right; */
}
.ngx-datatable.material .datatable-body-cell:last-of-type, .ngx-datatable.material .datatable-header-cell:last-of-type{
  text-align: right !important;
}
.ngx-datatable.material .mat-icon-button:hover{
  color: rgba(0, 0, 0, 1) !important;
  transition: all .2s ease-in-out;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  color: rgba(0, 0, 0, 0.8);
}
.ngx-datatable .datatable-header .datatable-header-cell .datatable-header-cell-template-wrap {
  height: inherit;
  color: black;
  font-weight: 400;
}

.ngx-datatable.material .datatable-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  height: auto !important;
}
.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover, .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group{
  background-color: #f5f5f5;
}

.ngx-datatable .datatable-body .datatable-scroll {
  max-width: 100%;
}

.ngx-datatable .datatable-row-left, .ngx-datatable .datatable-row-center, .ngx-datatable .datatable-row-group, .ngx-datatable .datatable-row-right {
  border-bottom: 1px solid #f1f1f1;
}

.ngx-datatable.material .empty-row {
  height: auto;

  padding: 50px;

  text-align: center;
}
.ngx-datatable.material .empty-row:before{
  content: "\e053";
  position: relative;
  top: 1px;
  display: block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 85px;
  font-size: 55px;
  color: #e5e5e5;
}

.ngx-datatable .datatable-header .datatable-header-cell .datatable-header-cell-template-wrap {
  height: inherit;
  color: black;
  font-weight: 400;
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: 500;
}