<!-- Toolbar -->
<mat-toolbar color="primary" class="mat-elevation-z4" style="background-color: #2a3f54">
  <div class="brand"></div>
  <span class="app-spacer"></span>
  <span flex></span>
  Data Cleansing
</mat-toolbar>


<!-- Flexed div to contain the nav and content -->
<div class="mainWrapper">

  <!-- Nav list -->
  <mat-nav-list>
    <mat-list-item routerLinkActive="active-link">
      <button mat-icon-button color="primary" routerLink="/home">
        <mat-icon aria-label="Прочистување на ексел" matTooltip="Прочистување на ексел" matTooltipPosition="right">data_usage</mat-icon>
      </button>
    </mat-list-item>

    <mat-list-item routerLinkActive="active-link">
      <button mat-icon-button color="primary" routerLink="/first-names-cleansing">
        <mat-icon aria-label="Прочистување на имиа" matTooltip="Прочистување на имиња" matTooltipPosition="right">build</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>

  <!-- Page content -->
  <div class="container-fluid">
    <block-ui>
      <router-outlet></router-outlet>
    </block-ui>
  </div>

</div>